body {
    background: linear-gradient(to top, #f9cd80, #b3a697, #e9a796)
}

.questions {
    display: flex;
    flex-direction: row;
    padding: 3%;
    margin: 5%;
    justify-content: space-around;
}

.solution {
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    font-size: 64px;
}
h2 {
    font-size: 36px;
}
.slanted-text {
        transform: skew(-15deg); 
        display: inline-block;
}
.slanted-container-left {
        transform: rotate(-15deg); 
        display: flex; 
        flex-direction: row;
}
.slanted-container-right {
    transform: rotate(15deg); 
    display: flex; 
    flex-direction: row;
}
.buttons {
    float: inline-start;
}
